* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: couture;
  src: url(../fonts/couture-bld.otf);
}
/*BODY FONDO*/
.principal {
  background-image: url(../assets/fondo/4k-close-up-shot-programming-tag-code-on-pc-monitor-scroll-down-background-concept-for-programming-and-coding-web-development-video.jpg);
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*HEADER*/
header {
  background-color: rgba(0, 0, 0, 0.711);
  display: flex;
  justify-content: space-between;
}

header nav {
  margin-top: 2%;
  margin-right: 8%;
}

header nav ul a {
  font-family: couture;
  font-size: 2.5vh;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.header1 {
  display: flex;
}

.header1 img {
  width: 10vh;
  border-radius: 60%;
  margin: 10px;
}

header h2 {
  font-family: couture;
  font-size: 2.5vh;
  color: white;
  margin-top: 18%;
}

/*MAIN index*/
.section1 {
  display: flex;
  justify-content: center;
}

.section1 img {
  width: 40vh;
  border-radius: 60%;
  margin: 10px;
}

.titulo1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: couture;
}

/*parte sobre mi index*/
.sobremi1 {
  margin-top: 30%;
  display: flex;
  justify-content: space-between;
}

.sobremi1 h3 {
  font-size: 3vh;
  margin-left: 40px;
  font-family: couture;
}

.btn {
  margin-right: 100px;
}

/*parte proyectos index*/
.sobremi2 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.sobremi2 h3 {
  font-size: 3vh;
  margin: 10px;
  margin-left: 40px;
  font-family: couture;
}

.sobremi2 a {
  font-size: 3vh;
  margin: 25px;
  margin-right: 80px;
  font-family: couture;
}

/*parte servicios index*/
.sobremi3 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.sobremi3 h3 {
  font-size: 3vh;
  margin: 10px;
  margin-left: 40px;
  font-family: couture;
}

.sobremi3 a {
  font-size: 3vh;
  margin: 25px;
  margin-right: 80px;
  font-family: couture;
}

/*PROYECTOS*/
.contenedor {
  margin: 80px auto;
  width: 90%;
  height: 1000px;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.proyectos1 {
  display: flex;
  align-items: center;
}

.proyectos1 img {
  width: 50%;
  margin: 20px;
}

.proyectos1 h3 {
  display: flex;
  font-family: couture;
}

/*DIV2*/
.proyectos2 {
  display: flex;
  align-items: center;
}

.proyectos2 img {
  width: 50%;
  margin: 20px;
}

.proyectos2 h3 {
  display: flex;
  font-family: couture;
}

/*DIV3*/
.proyectos3 {
  display: flex;
  align-items: center;
}

.proyectos3 img {
  width: 50%;
  margin: 20px;
}

.proyectos3 h3 {
  display: flex;
  font-family: couture;
}

/*SERVICIOS*/
.text1 {
  text-align: center;
  margin: 50px;
  font-family: couture;
}

.text2 {
  text-align: center;
  margin: 50px;
  font-family: couture;
}

/*SKILSS SERVICIOS*/
.skilss {
  text-align: center;
  font-size: 20px;
  font-family: couture;
  font-size: medium;
}

/*SOBRE MI*/
.sobre-mi {
  display: flex;
  justify-content: center;
}

.sobre-mi img {
  width: 40vh;
  border-radius: 60%;
  margin: 10px;
}

.sobremih2 {
  display: flex;
  justify-content: center;
  color: black;
  font-family: couture;
}

.sobremih3 {
  text-align: center;
  margin: 50px;
  font-family: couture;
}

/*estudios*/
.estudios {
  font-size: 2vh;
  display: flex;
  margin: 50px;
  font-family: couture;
}

/*herramientas*/
.Herramientas {
  text-align: center;
  margin: 50px;
  font-family: couture;
  font-size: 2vh;
}

/*CONTACTO*/
.contacto {
  display: flex;
  justify-content: center;
}

.contacto img {
  width: 40vh;
  border-radius: 60%;
  margin: 10px;
}

.contacto1 h2 {
  display: flex;
  justify-content: center;
  color: black;
  font-family: couture;
}

.contacto2 {
  margin-top: 30px;
}

.numtel {
  display: flex;
  justify-content: space-evenly;
  font-family: couture;
}

.gmail {
  display: flex;
  justify-content: space-evenly;
  font-family: couture;
  margin-top: 20px;
}

.logosredes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.logosredes img {
  width: 5%;
}

/*FOOTER*/
footer .botonwpp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 1px;
  bottom: 30px;
  right: 30px;
  background-color: rgb(50, 205, 53);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

footer .botonwpp:hover {
  text-decoration: none;
  background-color: #0E4980;
}

footer .iconowpp {
  max-width: 70%;
  margin-top: 15%;
}

@media (max-width: 1085px) {
  .principal {
    background-image: url(../assets/fondo/4k-close-up-shot-programming-tag-code-on-pc-monitor-scroll-down-background-concept-for-programming-and-coding-web-development-video.jpg);
    background-size: 100% 45%;
    background-repeat: no-repeat;
  }
  /*HEADER*/
  header {
    background-color: rgba(0, 0, 0, 0.711);
    display: flex;
    justify-content: space-between;
  }
  header nav {
    margin-top: 3.1%;
    margin-right: 2%;
  }
  header nav ul a {
    font-family: couture;
    font-size: 2.5vh;
    color: white;
    text-decoration: none;
    margin-left: 30px;
  }
  .header1 {
    display: flex;
  }
  .header1 img {
    width: 10vh;
    border-radius: 60%;
    margin: 10px;
  }
  /*MAIN index*/
  .section1 {
    display: flex;
    justify-content: center;
  }
  .section1 img {
    width: 35vh;
    border-radius: 60%;
    margin: 10px;
  }
  .titulo1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: couture;
  }
  /*parte sobre mi index*/
  .sobremi1 {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
  }
  /*CONTACTO*/
}
@media (max-width: 1085px) and (max-width: 870px) {
  .principal {
    background-image: url(../assets/fondo/4k-close-up-shot-programming-tag-code-on-pc-monitor-scroll-down-background-concept-for-programming-and-coding-web-development-video.jpg);
    background-size: 100% 55%;
    background-repeat: no-repeat;
  }
  /*HEADER*/
  header {
    background-color: rgba(0, 0, 0, 0.711);
    display: flex;
    justify-content: space-between;
  }
  header nav {
    margin-top: 30px;
    margin-right: 2%;
  }
  header nav ul a {
    font-family: couture;
    font-size: 2vh;
    color: white;
    text-decoration: none;
    margin-left: 30px;
  }
  .header1 {
    display: flex;
  }
  .header1 img {
    width: 10vh;
    border-radius: 60%;
    margin: 10px;
  }
  /*MAIN index*/
  .section1 {
    display: flex;
    justify-content: center;
  }
  .section1 img {
    width: 35vh;
    border-radius: 60%;
    margin: 10px;
  }
  .titulo1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: couture;
  }
  /*parte sobre mi index*/
  .sobremi1 {
    margin-top: 25%;
    display: flex;
    justify-content: space-between;
  }
  .sobremi1 h3 {
    text-align: center;
    font-size: 2vh;
    margin-left: 80px;
    font-family: couture;
  }
  .btn {
    margin-right: 100px;
  }
  /*parte proyectos index*/
  .sobremi2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .sobremi2 h3 {
    text-align: center;
    font-size: 2vh;
    margin: 10px;
    margin-left: 50px;
    font-family: couture;
  }
  /*parte servicios index*/
  .sobremi3 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .sobremi3 h3 {
    text-align: center;
    font-size: 1.8vh;
    margin: 10px;
    margin-left: 50px;
    font-family: couture;
  }
}
@media (max-width: 1085px) {
  .logosredes img {
    width: 5%;
  }
}
@media (max-width: 710px) {
  .principal {
    background-image: url(../assets/fondo/4k-close-up-shot-programming-tag-code-on-pc-monitor-scroll-down-background-concept-for-programming-and-coding-web-development-video.jpg);
    background-size: 100% 55%;
    background-repeat: no-repeat;
  }
  /*HEADER*/
  header {
    background-color: rgba(0, 0, 0, 0.711);
    display: flex;
    justify-content: center;
  }
  header nav {
    margin-top: 10px;
    margin-right: 2%;
  }
  header nav ul a {
    display: flex;
    text-align: center;
    font-family: couture;
    font-size: 10px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
  }
  .header1 {
    display: flex;
  }
  .header1 img {
    width: 13vh;
    border-radius: 60%;
    margin: 10px;
  }
  /*MAIN index*/
  .section1 {
    display: flex;
    justify-content: center;
  }
  .section1 img {
    width: 35vh;
    border-radius: 60%;
    margin: 10px;
  }
  .titulo1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: couture;
  }
  /*parte sobre mi index*/
  .sobremi1 {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
  }
  .sobremi1 h3 {
    text-align: center;
    font-size: 10px;
    margin-left: 60px;
    font-family: couture;
  }
  .btn {
    margin-right: 80px;
  }
  /*parte proyectos index*/
  .sobremi2 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .sobremi2 h3 {
    text-align: center;
    font-size: 10px;
    margin: 10px;
    margin-left: 30px;
    font-family: couture;
  }
  /*parte servicios index*/
  .sobremi3 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .sobremi3 h3 {
    text-align: center;
    font-size: 10px;
    margin: 10px;
    margin-left: 30px;
    font-family: couture;
  }
  /*SERVICIOS*/
  .text1 {
    font-size: 10px;
    text-align: center;
    margin: 50px;
    margin-top: 70px;
    font-family: couture;
  }
  .text2 {
    font-size: 10px;
    text-align: center;
    margin: 50px;
    font-family: couture;
  }
  /*SKILSS SERVICIOS*/
  .skilss {
    text-align: center;
    font-size: 10px;
    font-family: couture;
    font-size: none;
  }
  /*CONTACTO*/
  .contacto {
    display: flex;
    justify-content: center;
  }
  .contacto img {
    width: 30vh;
    border-radius: 60%;
    margin: 10px;
  }
  .contacto1 h2 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: couture;
  }
  .contacto2 {
    margin-top: 30px;
  }
  .numtel {
    display: flex;
    justify-content: space-evenly;
    font-family: couture;
    font-size: 10px;
  }
  .gmail {
    display: flex;
    justify-content: space-evenly;
    font-family: couture;
    margin-top: 20px;
    font-size: 10px;
  }
  .logosredes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 10px;
  }
  .logosredes img {
    width: 5%;
  }
}
@media (max-width: 512px) {
  /*MAIN index*/
  .section1 {
    display: flex;
    justify-content: center;
  }
  .section1 img {
    width: 25vh;
    border-radius: 60%;
    margin: 10px;
  }
  .titulo1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: couture;
  }
  /*parte sobre mi index*/
  .sobremi1 {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
  }
  .sobremi1 h3 {
    text-align: center;
    font-size: 8px;
    margin-left: 20px;
    font-family: couture;
  }
  .btn {
    margin-right: 20px;
  }
  /*parte proyectos index*/
  .sobremi2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .sobremi2 h3 {
    text-align: center;
    font-size: 8px;
    margin: 10px;
    margin-left: 20px;
    font-family: couture;
  }
  /*parte servicios index*/
  .sobremi3 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .sobremi3 h3 {
    text-align: center;
    font-size: 8px;
    margin: 10px;
    margin-left: 20px;
    font-family: couture;
  }
}

/*# sourceMappingURL=style.css.map */
