/*PROYECTOS*/
.tituloproyectos{
    h1{
        text-align: center;
        font-family: couture;
        margin-top: 30px;
    }
}
.contenedor { 
    margin: 10px auto; 
    width: 90%; 
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-auto-rows: auto; 
    gap: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    
    div {
        display: contents; 
    }

    img {
        width: 100%; 
        height: auto; 
    }

    h3 {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2rem; /* Tamaño de fuente base en rem */
    }

}


